/* ---Fonts--- */

@font-face {
  font-family: 'Lato-Light';
  src: url('./fonts/Lato-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('./fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 600;
}

/* ---Top Level Component---*/

* {
  font-family: 'Lato-Light';
}

#container {
  float: right;
  margin-right: 10%;
}

#bookings {
  width: 326px;
  min-height: 380px;
  padding: 0 24px;
  border: 1px solid lightgrey;
}

.sub-component {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  justify-content: space-between;
  height: 40px;
  padding: 0 20px;
  margin: 30px 0;
  border: 1px solid lightgray;
  border-radius: 5px;
}


p {
  text-align: center;
  margin: 5px;
}

.icon {
  height: 25px;
  cursor: pointer;
}

.large-icon {
  height: 40px;
  cursor: pointer;
}

#report {
  border: none;
  justify-content: center;
}

#book-btn {
  justify-content: center;
  background-color: #FF5A5F;
  color: #ffffff;
  height: 50px;
}


/* ---Calendar Component--- */

#cal-container {
  background-color: #ffffff;
  opacity: 1.0;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  width: 333px;
  position: absolute;
  top: 155px;
  padding: 4px;
  cursor: pointer;
  font-family: 'Lato';
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#calendar {
  min-height: 298px;
  width: 318px;
}

#calendar-title {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.cal-title {
  display: inline-flex;
  margin: 5px;
}

.selected-date {
  background-color: rgb(0, 166, 153);
}
.avail:hover, .range {
  background-color: rgb(51, 218, 205);
  cursor: pointer;
}

.current-stage {
  background-color: rgb(51, 218, 205);
  padding: 5px;
  border-radius: 3px;
}

.booked, .booked:hover {
  color: rgba(167, 167, 167, 0.295);
  background-color: white;
  border: 1px solid lightgray;
  
}

.day {
  margin: 0;
  border: 1px solid lightgray;
  min-width: 38px;
  font-family: 'Lato-Regular';
}


/* -----Guest toggle component---- */

#guest-toggle {
  width: 326px;
  height: auto;
  top: 214px;
  text-align: left;
  position: absolute;
  background-color: #ffffff;
  opacity: 1.0;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
}

#adult-guest-toggle, #child-guest-toggle, #infant-guest-toggle {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  margin: 30px 0;
}

.guest-label {
  min-width: 100px;
}

.disabled {
  opacity: 0.1;
}

.small-icon {
  height: 15px;
  margin-left: 5px;
}

/* ---Pricing Component--- */
.pricing-info-entry {
  display: flex;
  justify-content: space-between;
}

#price {
  font-family: 'Lato-Regular';
}

#report {
  border: none;
  justify-content: center;
}

#book-btn {
  justify-content: center;
  background-color: #FF5A5F;
  color: #ffffff;
  height: 50px;
}

