@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Light.ttf') format('truetype');
}

* {
  font-family: 'Lato';
}

#container {
  margin-left: 57%;
  position: fixed;
}
#bookings {
  width: 376px;
  min-height: 380px;
  padding: 0 24px;
  border: 1px solid lightgrey;
}

p {
  font-weight: 600;
  text-align: center;
  margin: 5px;
}

.info-left {
  text-align: left;
  margin: 10px 0
}

.icon {
  height: 25px;
}

.small-icon {
  height: 15px;
}

.select {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  justify-content: space-between;
  height: 40px;
  padding: 0 20px;
  margin: 30px 0;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#report {
  border: none;
  justify-content: center;
}

#book-btn {
  justify-content: center;
  background-color: #FF5A5F;
  color: #ffffff;
  height: 50px;
}

#cal-container {
  background-color: #ffffff;
  opacity: 1.0;
  box-shadow: 0px 0px 4px gray;
  position: absolute;
  top: 140px;
  padding: 4px;
  cursor: pointer;
  font-family: 'Lato';
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#calendar {
  padding: 0.5rem;
  min-height: 174px;
  width: 234px;
}

#calendar-title {
  min-width: 234px;
}
.cal-title {
  display: inline-flex;
  margin: 5px;
}

.selected-date {
  background-color: rgb(0, 119, 255);
}
.day:hover {
  background-color: rgb(68, 152, 248);
  cursor: pointer;
}
#next {
  float: right;
}

#prev {
  float: left;
}

.day {
  border: 1px solid lightgray;
}