.requestedMessageContainer {	
  position: absolute;	
  opacity: 1.0;	
  width: 376px;	
  text-align: center;	
  height: 315px;	
  background-color: #FF5A5F;	
  color: #ffffff;	
  border: 1px solid rgb(219, 219, 219);	
  padding-top: 10%;	
  border-radius: 5px;	
}